#green {
  color: greenyellow;
}

#red {
  color: red;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 10px;
}

.contact-icons img.icon {
  width: 50px;
  position: relative;
  height: 50px;
}

@media (min-width: 700px) {
  div.exp {
    display: inline;
  }
}
