@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url(./fonts/robotomono/RobotoMono-Medium.ttf) format('truetype');
  font-weight: normal;
}

html {
  background-color: #111111;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
  color: #eeeeee;
  font-family: 'Roboto Mono', 'Roboto', -apple-system, 'Helvetica Neue',
    'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

/* background insert */
/*
body {
  background-size: cover;
  background-image: url(./background-images/background4.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: center;
}
*/

body:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  /* background: url(./background-images/background4.jpeg) no-repeat center center; */
  background-size: cover;
}

hr {
  border-color: transparent;
}

.page-wrapper {
  padding: 0 10px 10vh;
}

/* going to be used by every page. */
h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: normal;
}
