@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url(./fonts/robotomono/RobotoMono-Medium.ttf) format('truetype');
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
  background-color: #111111;
  color: #eeeeee;
  font-family: 'Roboto Mono', 'Roboto', -apple-system, 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20pt;
}
