@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'),
    url(./fonts/robotomono/RobotoMono-Medium.ttf) format('truetype');
  font-weight: normal;
}

html {
  background-color: #111111;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
  min-height: 100vh;
  color: #eeeeee;
  font-family: 'Roboto Mono', 'Roboto', -apple-system, 'Helvetica Neue',
    'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* background insert */

/*
body {
  background-size: auto 100%;
  background-image: url(./background-images/profile.JPG);
  background-repeat: no-repeat;
  background-position-x: 100%;
}
*/

body:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  /* background: url(./background-images/profile.JPG) no-repeat; */
  background-position-x: 100%;
  background-size: 60% auto;
  filter: grayscale(50%);
}

hr {
  border-color: transparent;
}

.page-wrapper {
  padding: 0 10px 10vh;
}

/* section header */
h3 {
  font-family: 'Roboto Mono', 'Roboto', -apple-system, 'Helvetica Neue',
    'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: normal;
  margin: 30px 0px 10px;
}

/* section subheader */
h5 {
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0px 5px;
  text-decoration: underline;
}

.exp {
  color: gray;
  font-size: 16px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}
